[11:58, 16/4/2024] Dafne Ribera Html: /* Poner un color de fondo en toda la página */

body {
    background-color: lightgray;
}

h1 + div {
background-color: lightskyblue;
}

div p {
    background-color: tomato;
}

/* Opacidad */

#opacidad div{
    background-color: green;
    text-align: center;
    padding: 10%;
}

#opacidad div{
    opacity: 1;
}

#opacidad div + div{
    opacity: 0.7;
}

#opacidad div + div + div{
    opacity: 0.35;
}

#opacidad div + div + div + div{
    opacity: 0.1;
}
/* rgba */
#opacidad-rgba {
    text-align: center;
    padding: 25px;
    background-color: rgba(255, 100, 250, 1);
}

/* Imagen de fondo */

#imagen{
    height: 100px;
    background-image: url(https://static.eldiario.es/clip/ab74aa95-3656-424c-8ca1-dce590aabb97_16-9-discover-aspect-ratio_default_0.jpg);
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
[11:59, 16/4/2024] Dafne Ribera Html: fondos.html
[11:59, 16/4/2024] Dafne Ribera Html: <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fondos Html</title>
    <link rel="stylesheet" href="fondos.css">
</head>

<body>

    <h1>Fondos(background)</h1>

    <div>
        Este texto está dentro del propio div.
        <p>Este párrafo tiene su propio fondo</p>
        Este texto también está dentro del div.
    </div>

    <h2>Opacidad(Opacity)</h2>

    <div id="opacidad">
        <div>Opacity 1</div>
        <div>Opacity 0.7</div>
        <div>Opacity 0.35</div>
        <div>Opacity 0.1</div>
    </div>

    <h3>Opacidad usando rgba</h3>

    <div id="opacidad-rgba">
        Div con opacidad 0.5
    </div>

<h2>Imagen de fondo</h2>
<div id="imagen"></div>


</body>

</html>