#color {
    background-color: lightgray;
    color: dodgerblue;
    border: 3px solid;
}

#color h2 {
    background-color: black;
    color: white;
    margin-top: 0;
}

#color div {
    background-color: dodgerblue;
    color: white;
}





#mal-ejemplo-color {
    background-color: crimson;
    color: fuchsia;
}

#alinear {
    border: 3px solid black;
}

#alinear p {text-align: left;}
#alinear p + p {text-align: right;}
#alinear p + p+ p{text-align: center;}
#alinear p + p + p + p {text-align: justify;}