div {
    margin-top: 10px;
    text-align: center;
    padding: 25px;
}

div#border1 {
    border: 1px solid black;
}

div#border2 {
    border-bottom: 1px solid red;
    background-color: cornsilk
}

div#border3 {
    border: 1px solid black;
    border border-radius: 10px;
}

div#border4 {
    border-left: 3px solid blue;
    background-color: azure;
}

h2~div {
    border: 3px solid rgb(179, 38, 38);
    background-color: rgb(97, 126, 97);
}

#dotted {
    border-style: dotted
}

#dashed {
    border-style: dashed
}

#double {
    border-style: double
}

#groove {
    border-style: groove
}

#ridge {
    border-style: ridge
}

#inset {
    border-style: inset
}

#outset {
    border-style: outset
}

#none {
    border-style: none
}

#hidden {
    border-style: hidden
}

#mix {
    border-style: mix
}

#width {
    border-width: 25px 10px 4px 35px;
    /*25 arriba,10 derecha,4abajo,35izquierda*/
    border-color: blueviolet chocolate red;
}