*{

    margin: 0;
    padding: 0;

}

body{

    background-color:cornflowerblue;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.contenedor{

text-align: center;
padding: 50px 20px;

}

div.contenedor{

    margin: 10px 5px;
}

.contenedor button{

    padding: 10px 25px;
    color: white;
    font-size: 2rem;
    background-color: pink;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px plum ;

}

.contenedor button:hover{

    cursor: pointer;

}

.contenedor button:active{

    box-shadow: none;
    transform: translateY(2px);



}

#completo{

    /* opacity: 0; */
    background-color: rgba(255, 0, 0, 0.6);
    padding: 20px;
    border-radius: 5px;}
