body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-items: center;
    justify-content: space-between;

}



nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    color: #e2baba;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

p header {
    color: #e0245e;


}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

.like-section {
    position: relative;
    top: 10px;
    right: 10px;
    display: flex;
    align-items:;
    padding: 5px 10px;
    border-radius: 20px;
    color: #e0245e;
    cursor: pointer;
    margin-right: 10px;
    font-size: 30px;

}

.like-section .contador {
    font-size: 20px;
}

.post-meta {
    font-size: 14px;
    color: #666;
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}