body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.contenedor{
    display: inline-block;
}

#imagenPrincipal {
    width: 300px;

    transition: all 0.3s ease;
}

#tiempodato {
    margin-top: 20px;
    font-size: 18px;
}
