* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}
.contenedor-principal {
    background-color: #333;
    padding: 0 20px;
}
.contenedor-principal header {
    background-color: aliceblue;
}
.contenedor-principal header nav ul {
    display: flex;
}
.contenedor-principal header nav ul a {
    padding: 20px;
    color: black;
    display: inline-block;
    font-weight: bold;
}
main {
    background-color: white;
    width: 70%;
}
img {
    width: 100%;
}
main section {
    padding: 25px 16px;
}
main section p {
    margin: 16px 0;
    line-height: 30px;
}
aside {
    background-color: mediumaquamarine;
    padding: 50px;
    height: 150px;
    width: calc(30% - 100px);
}
aside h4 {
    font-size: 1.6rem;
    padding-bottom: 25px;
}
aside ul li {
    border-bottom: 2px solid black;
    margin-bottom: 15px;
    font-weight: bold;
}
footer {
    background-color: violet;
    padding: 50px;
    color: white;
    text-align: center;
    width: calc(70% - 100px);
    font-weight: bold;
}
.dos {
    display: flex;
    flex-wrap: wrap;
}
